body {
   
}
.lefthead {
   top:60px;
}
.txts{
    font-size:70px;
    text-align:center;
    color:#349ce6;
}
.txt {
    text-align: center;
}
.panelheads {
    top:60px;
}
.linehead {
    margin-top: 120px;
}
.colhead {
   top: 40px;
}

